<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertWarningsToExceptions="true" convertNoticesToExceptions="true" convertDeprecationsToExceptions="true" verbose="true">
	<testsuites>
		<testsuite name="sample">
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
	<coverage cacheDirectory=".phpunit.cache">
		<include>
			<directory prefix="class-" suffix=".php">inc/</directory>
		</include>
		<exclude>
			<!-- <directory prefix="class-" suffix=".php">inc/WP/AdminScreen/</directory> -->
		</exclude>
		<report>
			<html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="80"/>
		</report>
	</coverage>
</phpunit>
