@use "../abstracts/mixins" as m;

.cno-events-wrapper {
	:where(.hero) {
		height: fit-content;
		background-color: var(--color-tertiary);
	}

	:where(.cno-events) {
		display: grid;
		grid-template-columns: repeat(auto-fill, max(300px));
		gap: 20px;
	}

	:where(.about) {
		margin-top: 10px;
	}
}
