@use "../abstracts/mixins" as m;

.cno-events-wrapper {
	:where(section) {
		padding: 65px 0;
	}

	:where(.hero) {
		height: fit-content;
		background-color: var(--color-tertiary);
	}

	:where(.cno-events) {
		display: grid;
		grid-template-columns: repeat(auto-fill, max(300px));
		gap: 20px;
	}

	:where(.about) {
		margin-top: 10px;
	}

	.cno-event-search {
		:where(&) {
			background-color: var(--color-primary);
		}

		&__title {
			color: white;
		}

		&__search-bar {
			width: 100%;
			border-radius: 10px;
			padding: 10px;
			border: none;

			&:focus-visible {
				outline-color: var(--color-secondary);
			}
		}

		&__filters {
			margin-top: 3rem;
			display: grid;

			&--header {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
				margin-bottom: 10px;
				@include m.displayFlex(row, flex-start, center);
			}

			&--title {
				color: white;
			}

			button {
				margin-left: 10px;
				width: 140px;

				&:hover {
					border-color: white;
				}
			}
		}
	}

	.cno-event-search-filters {
		grid-column: 1 / span 2;

		&__title {
			@extend .cno-event-search__filters--title;
		}

		&__container {
			display: grid;
			grid-template-columns: repeat(auto-fit, max(240px));
			gap: 10px;
			grid-row: 2 / 3;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		&__filter {
			font-size: 1.35em;
			grid-row: 2 / 3;

			label {
				color: white;
				margin-left: 5px;
			}
		}
	}
}
