#areas {
	.cls-1 {
		fill: #ffb71b;
	}
	.cls-1,
	.cls-2,
	.cls-3,
	.cls-4,
	.cls-5,
	.cls-6,
	.cls-7,
	.cls-8,
	.cls-9,
	.cls-10 {
		stroke-width: 0px;
	}
	.cls-11,
	.cls-12,
	.cls-13,
	.cls-14,
	.cls-15,
	.cls-16,
	.cls-17 {
		font-family: var(--font-body);
		font-weight: 700;
	}
	.cls-11,
	.cls-13,
	.cls-16 {
		fill: #d6d7db;
	}
	.cls-11,
	.cls-18 {
		font-size: 14px;
	}
	.cls-19,
	.cls-20,
	.cls-17,
	.cls-21 {
		font-size: 18px;
	}
	.cls-19,
	.cls-20,
	.cls-21,
	.cls-18,
	.cls-22 {
		font-family: var(--font-headings);
		font-weight: 800;
	}
	.cls-19,
	.cls-18,
	.cls-22 {
		fill: #fff;
	}
	.cls-12,
	.cls-14 {
		font-size: 11px;
	}
	.cls-12,
	.cls-7,
	.cls-20 {
		fill: #e5a519;
	}
	.cls-13 {
		font-size: 14.4px;
	}
	.cls-14,
	.cls-2,
	.cls-21 {
		fill: #ffb81c;
	}
	.cls-3 {
		fill: #007b5f;
	}
	.cls-4 {
		fill: #5957a6;
	}
	.cls-23 {
		letter-spacing: -0.05em;
	}
	.cls-5 {
		fill: #9a9b30;
	}
	.cls-6 {
		fill: #0085ad;
	}
	.cls-24 {
		letter-spacing: -0.03em;
	}
	.cls-15 {
		font-size: 18px;
	}
	.cls-15,
	.cls-17 {
		fill: #616529;
	}
	.cls-8 {
		fill: #ac4fc6;
	}
	.cls-16 {
		font-size: 26px;
	}
	.cls-25 {
		letter-spacing: 0em;
	}
	.cls-9 {
		fill: #d6742a;
	}
	.cls-22 {
		font-size: 14px;
	}
	.cls-10 {
		fill: #41ad49;
	}
}
