#Street_Labels {
	.cls-1 {
		letter-spacing: -0.04em;
	}
	.cls-2 {
		letter-spacing: 0.01em;
	}
	.cls-3 {
		letter-spacing: 0.01em;
	}
	.cls-4 {
		letter-spacing: -0.05em;
	}
	.cls-5 {
		letter-spacing: -0.05em;
	}
	.cls-6 {
		letter-spacing: -0.05em;
	}
	.cls-7 {
		letter-spacing: -0.08em;
	}
	.cls-8 {
		letter-spacing: 0.02em;
	}
	.cls-9 {
		letter-spacing: 0.02em;
	}
	.cls-10 {
		letter-spacing: -0.08em;
	}
	.cls-11 {
		letter-spacing: -0.08em;
	}
	.cls-12 {
		letter-spacing: -0.08em;
	}
	.cls-13 {
		letter-spacing: -0.08em;
	}
	.cls-14 {
		letter-spacing: -0.04em;
	}
	.cls-15 {
		letter-spacing: -0.04em;
	}
	.cls-16 {
		letter-spacing: -0.04em;
	}
	.cls-17 {
		letter-spacing: -0.02em;
	}
	.cls-18 {
		letter-spacing: -0.08em;
	}
	.cls-19 {
		letter-spacing: -0.08em;
	}
	.cls-20 {
		letter-spacing: 0.01em;
	}
	.cls-21 {
		letter-spacing: 0.01em;
	}
	.cls-22 {
		letter-spacing: 0.01em;
	}
	.cls-23 {
		letter-spacing: 0.01em;
	}
	.cls-24 {
		letter-spacing: -0.08em;
	}
	.cls-25 {
		letter-spacing: -0.02em;
	}
	.cls-26 {
		letter-spacing: -0.02em;
	}
	.cls-27 {
		letter-spacing: -0.02em;
	}
	.cls-28 {
		letter-spacing: 0.01em;
	}
	.cls-29 {
		letter-spacing: 0.03em;
	}
	.cls-30 {
		letter-spacing: -0.03em;
	}
	.cls-31 {
		letter-spacing: -0.03em;
	}
	.cls-32 {
		letter-spacing: -0.03em;
	}
	.cls-33 {
		letter-spacing: -0.01em;
	}
	.cls-34 {
		letter-spacing: -0.01em;
	}
	.cls-35 {
		letter-spacing: 0.03em;
	}
	.cls-36 {
		letter-spacing: -0.02em;
	}
	.cls-37 {
		letter-spacing: 0.04em;
	}
	.cls-38 {
		letter-spacing: 0.04em;
	}
	.cls-39 {
		letter-spacing: 0.04em;
	}
	.cls-40 {
		letter-spacing: 0.04em;
	}
	.cls-41 {
		letter-spacing: 0.04em;
	}
	.cls-42 {
		letter-spacing: -0.05em;
	}
	.cls-43 {
		letter-spacing: 0.02em;
	}
	.cls-44 {
		letter-spacing: 0.04em;
	}
	.cls-45 {
		letter-spacing: -0.05em;
	}
	.cls-46 {
		letter-spacing: 0em;
	}
	.cls-47 {
		letter-spacing: 0em;
	}
	.cls-48 {
		letter-spacing: 0em;
	}
	.cls-49 {
		letter-spacing: 0em;
	}
	.cls-50 {
		letter-spacing: 0em;
	}
	.cls-51 {
		letter-spacing: -0.02em;
	}
	.cls-52 {
		letter-spacing: -0.08em;
	}
	.cls-53 {
		letter-spacing: 0.01em;
	}
	.cls-54 {
		letter-spacing: -0.07em;
	}
	.cls-55 {
		letter-spacing: -0.02em;
	}
	.cls-56 {
		letter-spacing: -0.02em;
	}
	.cls-57 {
		letter-spacing: -0.02em;
	}
	.cls-58 {
		letter-spacing: -0.04em;
	}
	.cls-59,
	.cls-60,
	.cls-61,
	.cls-62,
	.cls-63,
	.cls-64,
	.cls-65,
	.cls-66,
	.cls-67,
	.cls-68,
	.cls-69,
	.cls-70,
	.cls-71,
	.cls-72,
	.cls-73,
	.cls-74,
	.cls-75,
	.cls-76 {
		fill: #d6d7db;
	}
	.cls-59,
	.cls-60,
	.cls-61,
	.cls-62,
	.cls-63,
	.cls-73,
	.cls-74,
	.cls-75,
	.cls-76 {
		font-family: var(--font-body);
		font-weight: 700;
	}
	.cls-59,
	.cls-72 {
		font-size: 11px;
	}
	.cls-60,
	.cls-71 {
		font-size: 11px;
	}
	.cls-61,
	.cls-70 {
		font-size: 11px;
	}
	.cls-62,
	.cls-68 {
		font-size: 11px;
	}
	.cls-63,
	.cls-69 {
		font-size: 11px;
	}
	.cls-77 {
		letter-spacing: -0.05em;
	}
	.cls-78 {
		letter-spacing: -0.03em;
	}
	.cls-79 {
		letter-spacing: -0.03em;
	}
	.cls-80 {
		letter-spacing: -0.03em;
	}
	.cls-81 {
		letter-spacing: -0.03em;
	}
	.cls-82 {
		letter-spacing: 0.03em;
	}
	.cls-83 {
		letter-spacing: 0.03em;
	}
	.cls-84 {
		letter-spacing: -0.03em;
	}
	.cls-85 {
		letter-spacing: 0.02em;
	}
	.cls-86 {
		letter-spacing: -0.03em;
	}
	.cls-87 {
		letter-spacing: -0.03em;
	}
	.cls-64,
	.cls-65,
	.cls-66,
	.cls-67,
	.cls-68,
	.cls-69,
	.cls-70,
	.cls-71,
	.cls-72 {
		font-family: var(--font-body);
		font-weight: 500;
	}
	.cls-64,
	.cls-73 {
		font-size: 11px;
	}
	.cls-65,
	.cls-76 {
		font-size: 11px;
	}
	.cls-66,
	.cls-74 {
		font-size: 11px;
	}
	.cls-67,
	.cls-75 {
		font-size: 11px;
	}
	.cls-88 {
		letter-spacing: -0.11em;
	}
	.cls-89 {
		letter-spacing: -0.11em;
	}
	.cls-90 {
		letter-spacing: -0.03em;
	}
	.cls-91 {
		letter-spacing: -0.03em;
	}
	.cls-92 {
		letter-spacing: -0.06em;
	}
	.cls-93 {
		letter-spacing: -0.03em;
	}
	.cls-94 {
		letter-spacing: -0.03em;
	}
	.cls-95 {
		letter-spacing: 0em;
	}
	.cls-96 {
		letter-spacing: 0em;
	}
	.cls-97 {
		letter-spacing: 0em;
	}
	.cls-98 {
		letter-spacing: 0em;
	}
	.cls-99 {
		letter-spacing: 0em;
	}
	.cls-100 {
		letter-spacing: 0em;
	}
	.cls-101 {
		letter-spacing: -0.02em;
	}
	.cls-102 {
		letter-spacing: 0.02em;
	}
	.cls-103 {
		letter-spacing: 0.02em;
	}
	.cls-104 {
		letter-spacing: 0.02em;
	}
	.cls-105 {
		letter-spacing: 0em;
	}
	.cls-106 {
		letter-spacing: 0em;
	}
	.cls-107 {
		letter-spacing: 0em;
	}
	.cls-108 {
		letter-spacing: 0em;
	}
	.cls-109 {
		letter-spacing: 0em;
	}
	.cls-110 {
		letter-spacing: -0.02em;
	}
	.cls-111 {
		letter-spacing: -0.03em;
	}
	.cls-112 {
		letter-spacing: 0.02em;
	}
	.cls-113 {
		letter-spacing: -0.03em;
	}
	.cls-114 {
		letter-spacing: -0.03em;
	}
	.cls-115 {
		letter-spacing: -0.03em;
	}
	.cls-116 {
		letter-spacing: 0.03em;
	}
	.cls-117 {
		letter-spacing: 0.03em;
	}
}
