#icons-areas-labels {
	.cls-1 {
		letter-spacing: -0.04em;
	}
	.cls-2 {
		letter-spacing: 0.01em;
	}
	.cls-3 {
		letter-spacing: 0.01em;
	}
	.cls-4 {
		letter-spacing: -0.04em;
	}
	.cls-5 {
		font-size: 15.6px;
	}
	.cls-5,
	.cls-6,
	.cls-7,
	.cls-8,
	.cls-9,
	.cls-10,
	.cls-11,
	.cls-12,
	.cls-13,
	.cls-14,
	.cls-15,
	.cls-16,
	.cls-17,
	.cls-18,
	.cls-19,
	.cls-20,
	.cls-21,
	.cls-22,
	.cls-23 {
		font-family: GillSansNova-Bold, "Gill Sans Nova";
		font-weight: 700;
	}
	.cls-5,
	.cls-24 {
		fill: #9a9b30;
	}
	.cls-25 {
		letter-spacing: 0em;
	}
	.cls-26 {
		letter-spacing: -0.05em;
	}
	.cls-27 {
		letter-spacing: -0.05em;
	}
	.cls-28 {
		letter-spacing: -0.05em;
	}
	.cls-29 {
		stroke-width: 2.24px;
	}
	.cls-29,
	.cls-30,
	.cls-6,
	.cls-31,
	.cls-7,
	.cls-8,
	.cls-9,
	.cls-10,
	.cls-11,
	.cls-12,
	.cls-13,
	.cls-16,
	.cls-17,
	.cls-18,
	.cls-19,
	.cls-20,
	.cls-32,
	.cls-33,
	.cls-34,
	.cls-35,
	.cls-36,
	.cls-37,
	.cls-38,
	.cls-39,
	.cls-40,
	.cls-41,
	.cls-42,
	.cls-43,
	.cls-23 {
		fill: #d6d7db;
	}
	.cls-29,
	.cls-42 {
		stroke: #ffb71b;
	}
	.cls-44 {
		letter-spacing: -0.08em;
	}
	.cls-45 {
		letter-spacing: -0.08em;
	}
	.cls-46 {
		letter-spacing: -0.02em;
	}
	.cls-47 {
		letter-spacing: 0.02em;
	}
	.cls-48 {
		letter-spacing: 0.02em;
	}
	.cls-49 {
		letter-spacing: -0.08em;
	}
	.cls-50 {
		letter-spacing: -0.08em;
	}
	.cls-51 {
		letter-spacing: -0.08em;
	}
	.cls-52 {
		letter-spacing: -0.08em;
	}
	.cls-53 {
		letter-spacing: -0.08em;
	}
	.cls-54 {
		font-size: 17px;
	}
	.cls-54,
	.cls-55,
	.cls-56,
	.cls-57,
	.cls-58,
	.cls-59,
	.cls-60,
	.cls-61,
	.cls-62,
	.cls-63,
	.cls-64 {
		font-weight: 800;
	}
	.cls-54,
	.cls-55,
	.cls-58,
	.cls-59,
	.cls-60,
	.cls-64 {
		font-family: GillSansNova-Heavy, "Gill Sans Nova";
	}
	.cls-54,
	.cls-64 {
		fill: #c05131;
	}
	.cls-30 {
		font-size: 11.74px;
	}
	.cls-30,
	.cls-31,
	.cls-32 {
		font-family: GillSansNova-SemiBold, "Gill Sans Nova";
		font-weight: 600;
	}
	.cls-65 {
		letter-spacing: -0.04em;
	}
	.cls-66 {
		letter-spacing: -0.04em;
	}
	.cls-67 {
		letter-spacing: -0.04em;
	}
	.cls-68 {
		letter-spacing: -0.02em;
	}
	.cls-69 {
		stroke-width: 2.16px;
	}
	.cls-69,
	.cls-70,
	.cls-71,
	.cls-72,
	.cls-73,
	.cls-74,
	.cls-75,
	.cls-76,
	.cls-77,
	.cls-78,
	.cls-79,
	.cls-80,
	.cls-81,
	.cls-82 {
		fill: none;
	}
	.cls-69,
	.cls-72 {
		stroke: #007b5f;
	}
	.cls-83 {
		clip-path: url(#ial-clippath);
	}
	.cls-84 {
		letter-spacing: -0.08em;
	}
	.cls-85 {
		letter-spacing: -0.08em;
	}
	.cls-86 {
		letter-spacing: 0.01em;
	}
	.cls-87 {
		letter-spacing: 0.01em;
	}
	.cls-88 {
		letter-spacing: 0.01em;
	}
	.cls-89 {
		letter-spacing: 0.01em;
	}
	.cls-90 {
		letter-spacing: -0.08em;
	}
	.cls-70,
	.cls-91,
	.cls-92,
	.cls-24,
	.cls-93,
	.cls-94,
	.cls-95,
	.cls-96,
	.cls-43,
	.cls-97,
	.cls-98,
	.cls-99,
	.cls-100,
	.cls-101,
	.cls-102,
	.cls-103,
	.cls-104,
	.cls-105,
	.cls-106,
	.cls-107,
	.cls-108,
	.cls-109,
	.cls-110,
	.cls-111,
	.cls-112 {
		stroke-width: 0px;
	}
	.cls-113 {
		letter-spacing: -0.02em;
	}
	.cls-114 {
		letter-spacing: -0.02em;
	}
	.cls-115 {
		letter-spacing: -0.02em;
	}
	.cls-6 {
		font-size: 26px;
	}
	.cls-116 {
		letter-spacing: 0.01em;
	}
	.cls-117 {
		letter-spacing: 0.03em;
	}
	.cls-118 {
		letter-spacing: -0.03em;
	}
	.cls-119 {
		letter-spacing: -0.03em;
	}
	.cls-120 {
		letter-spacing: -0.03em;
	}
	.cls-121 {
		letter-spacing: -0.03em;
	}
	.cls-122 {
		letter-spacing: -0.01em;
	}
	.cls-123 {
		letter-spacing: -0.01em;
	}
	.cls-124 {
		letter-spacing: -0.06em;
	}
	.cls-91 {
		fill: url(#ial-linear-gradient);
	}
	.cls-125 {
		letter-spacing: -0.06em;
	}
	.cls-126 {
		letter-spacing: 0.03em;
	}
	.cls-31 {
		font-size: 15.1px;
	}
	.cls-127 {
		letter-spacing: -0.02em;
	}
	.cls-7 {
		font-size: 14.4px;
	}
	.cls-128 {
		letter-spacing: -0.05em;
	}
	.cls-129 {
		letter-spacing: 0.04em;
	}
	.cls-130 {
		letter-spacing: 0.04em;
	}
	.cls-131 {
		letter-spacing: 0.04em;
	}
	.cls-132 {
		letter-spacing: 0.04em;
	}
	.cls-133 {
		letter-spacing: 0.04em;
	}
	.cls-134 {
		letter-spacing: -0.05em;
	}
	.cls-135 {
		letter-spacing: 0.02em;
	}
	.cls-136 {
		letter-spacing: -0.05em;
	}
	.cls-8,
	.cls-57 {
		font-size: 14px;
	}
	.cls-137 {
		letter-spacing: 0.04em;
	}
	.cls-138 {
		letter-spacing: -0.1em;
	}
	.cls-139 {
		letter-spacing: -0.05em;
	}
	.cls-140 {
		letter-spacing: -0.05em;
	}
	.cls-9 {
		font-size: 13.78px;
	}
	.cls-55 {
		font-size: 9.42px;
	}
	.cls-55,
	.cls-60 {
		fill: #026e9b;
	}
	.cls-141 {
		letter-spacing: -0.1em;
	}
	.cls-142 {
		letter-spacing: -0.05em;
	}
	.cls-10,
	.cls-38 {
		font-size: 11px;
	}
	.cls-11,
	.cls-41 {
		font-size: 11px;
	}
	.cls-12,
	.cls-40 {
		font-size: 11px;
	}
	.cls-13,
	.cls-39 {
		font-size: 11px;
	}
	.cls-143 {
		letter-spacing: 0em;
	}
	.cls-144 {
		letter-spacing: 0em;
	}
	.cls-145 {
		letter-spacing: 0em;
	}
	.cls-146 {
		letter-spacing: 0em;
	}
	.cls-147 {
		letter-spacing: 0em;
	}
	.cls-148 {
		letter-spacing: 0em;
	}
	.cls-71 {
		stroke-width: 0.11px;
	}
	.cls-71,
	.cls-75,
	.cls-76 {
		stroke: #231f20;
		stroke-miterlimit: 10;
	}
	.cls-149 {
		clip-path: url(#ial-clippath-1);
	}
	.cls-150 {
		clip-path: url(#ial-clippath-4);
	}
	.cls-151 {
		clip-path: url(#ial-clippath-3);
	}
	.cls-152 {
		clip-path: url(#ial-clippath-2);
	}
	.cls-153 {
		clip-path: url(#ial-clippath-7);
	}
	.cls-154 {
		clip-path: url(#ial-clippath-8);
	}
	.cls-155 {
		clip-path: url(#ial-clippath-6);
	}
	.cls-156 {
		clip-path: url(#ial-clippath-5);
	}
	.cls-157 {
		clip-path: url(#ial-clippath-9);
	}
	.cls-158 {
		letter-spacing: -0.02em;
	}
	.cls-159 {
		letter-spacing: -0.02em;
	}
	.cls-160 {
		letter-spacing: -0.08em;
	}
	.cls-161 {
		letter-spacing: 0.01em;
	}
	.cls-162 {
		letter-spacing: -0.07em;
	}
	.cls-163 {
		letter-spacing: -0.02em;
	}
	.cls-164 {
		letter-spacing: -0.02em;
	}
	.cls-165 {
		letter-spacing: -0.02em;
	}
	.cls-166 {
		letter-spacing: -0.04em;
	}
	.cls-167 {
		clip-path: url(#ial-clippath-13);
	}
	.cls-168 {
		clip-path: url(#ial-clippath-12);
	}
	.cls-169 {
		clip-path: url(#ial-clippath-10);
	}
	.cls-170 {
		clip-path: url(#ial-clippath-11);
	}
	.cls-72,
	.cls-73,
	.cls-74 {
		stroke-width: 2.4px;
	}
	.cls-73,
	.cls-79 {
		stroke: #026e9b;
	}
	.cls-74 {
		stroke: #009bdf;
	}
	.cls-75 {
		stroke-width: 0.18px;
	}
	.cls-171 {
		letter-spacing: -0.05em;
	}
	.cls-172 {
		letter-spacing: -0.03em;
	}
	.cls-173 {
		letter-spacing: -0.03em;
	}
	.cls-174 {
		letter-spacing: -0.03em;
	}
	.cls-175 {
		letter-spacing: -0.03em;
	}
	.cls-176 {
		letter-spacing: 0.03em;
	}
	.cls-177 {
		letter-spacing: 0.03em;
	}
	.cls-14,
	.cls-61,
	.cls-62,
	.cls-63 {
		font-size: 18px;
	}
	.cls-14,
	.cls-22 {
		fill: #616529;
	}
	.cls-178 {
		letter-spacing: -0.03em;
	}
	.cls-76 {
		stroke-width: 0.13px;
	}
	.cls-179 {
		letter-spacing: 0em;
	}
	.cls-180 {
		letter-spacing: -0.03em;
	}
	.cls-181 {
		letter-spacing: -0.06em;
	}
	.cls-182 {
		letter-spacing: 0.02em;
	}
	.cls-183 {
		letter-spacing: -0.03em;
	}
	.cls-184 {
		letter-spacing: -0.03em;
	}
	.cls-56 {
		font-size: 14px;
	}
	.cls-56,
	.cls-57,
	.cls-61,
	.cls-62,
	.cls-63 {
		font-family: PillGothic300mg-Black, "Pill Gothic 300mg";
	}
	.cls-56,
	.cls-57,
	.cls-61,
	.cls-101 {
		fill: #fff;
	}
	.cls-185 {
		letter-spacing: -0.11em;
	}
	.cls-186 {
		letter-spacing: -0.11em;
	}
	.cls-187 {
		letter-spacing: -0.06em;
	}
	.cls-188 {
		letter-spacing: -0.03em;
	}
	.cls-189 {
		letter-spacing: -0.03em;
	}
	.cls-190 {
		letter-spacing: -0.03em;
	}
	.cls-191 {
		letter-spacing: -0.06em;
	}
	.cls-192 {
		letter-spacing: -0.03em;
	}
	.cls-58 {
		font-size: 15.12px;
	}
	.cls-58,
	.cls-59,
	.cls-112 {
		fill: #007b5f;
	}
	.cls-193 {
		letter-spacing: -0.03em;
	}
	.cls-194 {
		letter-spacing: 0em;
	}
	.cls-195 {
		letter-spacing: 0em;
	}
	.cls-196 {
		letter-spacing: 0em;
	}
	.cls-197 {
		letter-spacing: 0em;
	}
	.cls-198 {
		letter-spacing: 0em;
	}
	.cls-199 {
		letter-spacing: 0em;
	}
	.cls-15,
	.cls-16,
	.cls-21,
	.cls-36 {
		font-size: 11px;
	}
	.cls-15,
	.cls-62,
	.cls-106 {
		fill: #ffb81c;
	}
	.cls-17,
	.cls-33 {
		font-size: 11px;
	}
	.cls-18,
	.cls-35 {
		font-size: 11px;
	}
	.cls-19,
	.cls-34 {
		font-size: 11px;
	}
	.cls-20,
	.cls-37 {
		font-size: 11px;
	}
	.cls-21,
	.cls-63,
	.cls-104 {
		fill: #e5a519;
	}
	.cls-59 {
		font-size: 16.8px;
	}
	.cls-77 {
		stroke: #9a9b30;
	}
	.cls-77,
	.cls-78,
	.cls-79 {
		stroke-width: 1.8px;
	}
	.cls-78 {
		stroke: #e31c79;
	}
	.cls-200 {
		letter-spacing: -0.02em;
	}
	.cls-201 {
		letter-spacing: 0.02em;
	}
	.cls-202 {
		letter-spacing: 0.02em;
	}
	.cls-203 {
		letter-spacing: 0.02em;
	}
	.cls-32 {
		font-size: 17.61px;
	}
	.cls-204 {
		letter-spacing: 0em;
	}
	.cls-205 {
		letter-spacing: 0em;
	}
	.cls-206 {
		letter-spacing: 0em;
	}
	.cls-207 {
		letter-spacing: 0em;
	}
	.cls-208 {
		letter-spacing: 0em;
	}
	.cls-209 {
		letter-spacing: 0em;
	}
	.cls-80 {
		stroke: #41ad49;
	}
	.cls-80,
	.cls-81,
	.cls-82 {
		stroke-width: 3px;
	}
	.cls-81 {
		stroke: #ac4fc6;
	}
	.cls-82 {
		stroke: #d6742a;
	}
	.cls-210 {
		letter-spacing: -0.02em;
	}
	.cls-60 {
		font-size: 12.56px;
	}
	.cls-211 {
		letter-spacing: -0.08em;
	}
	.cls-212 {
		letter-spacing: -0.07em;
	}
	.cls-213 {
		letter-spacing: -0.07em;
	}
	.cls-214 {
		letter-spacing: -0.03em;
	}
	.cls-33,
	.cls-34,
	.cls-35,
	.cls-36,
	.cls-37,
	.cls-38,
	.cls-39,
	.cls-40,
	.cls-41 {
		font-family: GillSansNova-Medium, "Gill Sans Nova";
		font-weight: 500;
	}
	.cls-215 {
		letter-spacing: -0.03em;
	}
	.cls-216 {
		letter-spacing: -0.03em;
	}
	.cls-42 {
		stroke-width: 2.02px;
	}
	.cls-217 {
		letter-spacing: 0em;
	}
	.cls-92 {
		fill: #5957a6;
	}
	.cls-93 {
		fill: #41ad49;
	}
	.cls-94 {
		fill: #231f20;
	}
	.cls-95 {
		fill: #e31c79;
	}
	.cls-96 {
		fill: #dcc2a3;
	}
	.cls-97 {
		fill: #d6742a;
	}
	.cls-98 {
		fill: #be1e2d;
	}
	.cls-99 {
		fill: #ac4fc6;
	}
	.cls-100 {
		fill: #009bdf;
	}
	.cls-102 {
		fill: #ed1c24;
	}
	.cls-103 {
		fill: #fff2d9;
	}
	.cls-105 {
		fill: #ef4136;
	}
	.cls-107 {
		fill: #ffb71b;
	}
	.cls-108 {
		fill: #e6e7e8;
	}
	.cls-109 {
		fill: #ffdfba;
	}
	.cls-110 {
		fill: #00aeef;
	}
	.cls-111 {
		fill: #0085ad;
	}
	.cls-218 {
		letter-spacing: -0.02em;
	}
	.cls-219 {
		letter-spacing: -0.05em;
	}
	.cls-220 {
		letter-spacing: 0.02em;
	}
	.cls-221 {
		letter-spacing: -0.03em;
	}
	.cls-222 {
		letter-spacing: -0.03em;
	}
	.cls-22 {
		font-size: 18px;
	}
	.cls-64 {
		font-size: 15.3px;
	}
	.cls-223 {
		letter-spacing: -0.03em;
	}
	.cls-23 {
		font-size: 12.4px;
	}
	.cls-224 {
		letter-spacing: 0.03em;
	}
	.cls-225 {
		letter-spacing: 0.03em;
	}
	.cls-226 {
		letter-spacing: -0.03em;
	}
}
