:is(.post-type-archive-events) .hero {
	height: auto;
}
.cno-events-wrapper {
	// width: 88%;
	// max-width: 1400px;
	margin: 0 auto;

	.cno-events {
		display: grid;
		grid-template-columns: repeat(auto-fit, max(40rem));
		align-items: stretch;
		justify-content: center;
		gap: 2rem;
	}
}
