@use "../../abstracts/mixins" as m;
:is(.post-type-archive-events) .hero {
	height: auto;
}
%cno-events {
	@include m.displayFlex(column);
	gap: 4rem;
	@include m.media-breakpoint-down(lg) {
		gap: 8rem;
	}
}
.cno-events {
	@extend %cno-events;
}
.archive {
	position: relative;
	.cno-events-wrapper {
		margin: 0 auto;
		.cno-events {
			@extend %cno-events;
		}
		.cno-event-search-filters {
			&__container {
				@include m.displayFlex(column, flex-start, stretch);
				flex-wrap: nowrap;
			}
			&__filter-container {
				display: inline-grid;
				grid-template-columns: repeat(auto-fit, max(24rem));
				gap: 2rem;
				place-content: start;
				place-items: start;
				height: fit-content;
			}
			&__filter {
				grid-row: unset;
			}
		}
	}
	.cno-event {
		&__image {
			@include m.fitMedia($fit: cover);
			@include m.media-breakpoint-down(lg) {
				max-height: 30rem;
			}
		}
	}
}
.cno-search {
	@include m.media-breakpoint-down(md) {
		.event-meta {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: flex-start;
			align-items: stretch;
		}
	}
	:where(&) > .container:not(.load-more-container) {
		min-height: 50vh;
	}
}
.cno-event-search {
	height: fit-content;

	&__search-bar {
		width: auto;
		border: 2px solid black;
		margin-bottom: 2rem;
	}
}
