/* stylelint-disable scss/dollar-variable-pattern */
$transition--standard: 0.15s ease-in-out;

/* //////////
// COLORS
/////////// */
$color-primary--dark: #50551d;
$color-primary: #7d8034;
$color-primary--light: #b0b700;
$color-secondary: #f09416;
$color-tertiary: #efe6d9;
$color-black: black;
$color-white: white;
$color-grey: #777;
$color-purple: #8c52c1;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: gill-sans-nova, "Helvetica Neue", "Noto Sans", "Liberation Sans",
	arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-body: gill-sans-nova, "Helvetica Neue", "Noto Sans", "Liberation Sans",
	arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-serif: adobe-garamond-pro, serif;
$font-pill-gothic: pill-gothic-300mg, sans-serif;
