@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;

.hamburger {
	--size: 6.5rem;
	padding: 1rem;
	position: relative;
	height: var(--size);
	width: var(--size);
	cursor: pointer;
	box-shadow: none;

	&:hover {
		background-color: var(--bs-secondary);
	}

	&__line {
		position: relative;
		border: 2px solid white;
		:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
