@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;

.sub-menu {
	width: max-content;

	.current-menu-item {
		background-color: var(--bs-secondary);

		a {
			color: white;
		}
	}

	li {
		transition: background-color var(--transition--secondary);
	}

	a {
		font-size: 1.8rem;
		transition: color var(--transition--secondary);
	}
}
