@use "../abstracts/functions" as fn;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.wp-block-button__link {
	transform: translateY(0);
	border: 2px solid transparent;

	&:hover,
	&:focus,
	&:active {
		box-shadow: 2px 4px 8px rgb(black, 0.35);
		color: var(--wp--preset--color--primary);
		background-color: white;
		border: 2px solid var(--wp--preset--color--primary);
		transform: translateY(-4px);
	}
}
