@use "../../abstracts/mixins" as m;

:where(.single-events) {
	body & {
		overflow-x: initial;
	}

	.cno-event {
		max-height: unset;

		@include m.displayFlex(column, $cross: stretch);

		@include m.media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 2rem;
			margin: 0 auto;
		}

		&__image {
			order: unset;
		}
	}

	.cno-event-meta {
		@include m.media-breakpoint-up(lg) {
			top: 5%;
			position: sticky;
		}
	}

	.sidebar {
		@include m.media-breakpoint-up(lg) {
			grid-column: 2 / 3;
			grid-row: 1 / span 3;
		}

		&__confirmation {
			order: 3;
		}
	}
}
