@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
.breadcrumbs {
	display: block;
	padding: 4rem 2rem;
	.breadcrumb {
		color: v.$color-grey;
		font-size: 2rem;
		font-weight: 700;
		transition: color v.$transition--standard;
		position: relative;
		@include m.anchorHoverState($color: v.$color-grey, $width: 100%);
		&:hover {
			&:after {
				transform: scaleX(1);
			}
		}
	}
}
