@use "../abstracts/functions" as fn;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.btn:not(.dropdown-toggle) {
	transform: translateY(0);
	text-transform: uppercase;
	transition: fn.transition(
		(background-color, border-color, transform, box-shadow, color)
	);

	&:hover {
		box-shadow: 2px 4px 8px rgba(black, 0.35);
		transform: translateY(-4px);
	}
}

.schedule-button {
	bottom: 3%;
	right: 3%;
	z-index: 40;

	svg {
		transition: fill var(--transition--standard);
		fill: currentColor;
		width: 1.5rem;
	}
}
