@use "../abstracts/functions" as fn;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

$standard-buttons: ("primary", "secondary");
@each $color in $standard-buttons {
	.btn-#{$color} {
		color: white;

		&:hover,
		&:active,
		&:focus {
			background-color: white;
			color: var(--bs-#{$color});
		}
	}
	.btn-outline-#{$color} {
		background-color: white;
		border-color: var(--bs-#{$color});
		color: var(--bs-#{$color});

		&:hover,
		&:active,
		&:focus {
			background-color: var(--bs-#{$color});
			color: white;
		}
	}
}

.btn {
	padding-bottom: 1.2rem;
	transform: translateY(0);
	text-transform: uppercase;
	transition: fn.transition(
		(background-color, border-color, transform, box-shadow, color)
	);

	&:hover {
		box-shadow: 2px 4px 8px rgba(black, 0.35);
		transform: translateY(-4px);
	}
}

.schedule-button {
	position: fixed;
	bottom: 3%;
	right: 3%;
	color: var(--bs-primary);
	padding: 2rem;
	border-radius: 1rem;
	background-color: white;
	z-index: 40;
	border: 2px solid var(--bs-primary);
	transition: background-color var(--transition--standard);

	&:hover {
		background-color: var(--bs-primary);
		* {
			color: white;
		}
	}

	a {
		transition: color var(--transition--standard);
	}

	svg {
		transition: fill var(--transition--standard);
		fill: currentColor;
		width: 3rem;
	}
}
