@use "../abstracts/variables" as v;

/* Hide the default checkbox */
input[type="checkbox"] {
	appearance: none;
	background-color: white;
	margin: 0;
	font: inherit;
	width: 1.15em;
	height: 1.15em;
	border-radius: 0.15em;
	display: grid;
	place-content: center;
	transform: translateY(-0.075em);

	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
	}

	:focus {
		outline: max(2px, 0.15em) solid currentcolor;
		outline-offset: max(2px, 0.15em);
	}
}

/* Style the custom checkbox */
@mixin checkbox-color(
	$color: var(--bs-secondary),
	$background-color: var(--bs-primary-dark)
) {
	input[type="checkbox"] {
		&::before {
			box-shadow: inset 1em 1em $color;
		}

		&:checked {
			background-color: $background-color;
			border-color: $background-color;

			&::before {
				transform: scale(1);
				transform-origin: bottom left;
				clip-path: polygon(
					14% 44%,
					0 65%,
					50% 100%,
					100% 16%,
					80% 0%,
					43% 62%
				);
			}
		}
	}
}

/* Style the label for the checkbox */
label {
	margin-left: 8px;
}
