@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

.cno-event {
	margin: 0;

	@include m.media-breakpoint-only(lg) {
		display: grid;
		grid-template-columns: 12rem 2fr;
	}

	&__time {
		color: white;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;

		@include m.displayFlex(column, center, stretch);

		@include m.media-breakpoint-only(lg) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		@include m.media-breakpoint-down(lg) {
			margin-bottom: 1rem;
			order: 2;
		}

		&--date {
			@include m.displayFlex(column, $cross: center);
		}

		&--month {
			font-size: 1.5em;
			@include m.media-breakpoint-up(xxl) {
				font-size: 2.8rem;
			}
		}

		&--day {
			font-size: 2.8rem;
			@include m.media-breakpoint-up(xl) {
				font-size: 3em;
			}
		}

		&--day-of-week {
			font-size: 1em;
		}

		&--time {
			border-top: 1px solid white;
			margin-top: 0.5rem;
			padding-top: 0.5rem;
			@include m.media-breakpoint-down(lg) {
				margin-bottom: 1rem;
			}
		}

		&--friday {
			background-color: v.$color-primary;
		}

		&--saturday {
			background-color: v.$color-secondary;
		}

		&--sunday {
			background-color: v.$color-primary--light;
		}
	}

	&__image {
		@include m.fitMedia(img, $fit: cover);

		@include m.media-breakpoint-only(lg) {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			padding: 0;
		}

		@include m.media-breakpoint-down(lg) {
			padding: 0;
			order: 1;
		}
	}

	&__info {
		@include m.displayFlex(column);
		@include m.media-breakpoint-only(lg) {
			flex-basis: 45%;
		}

		@include m.media-breakpoint-down(lg) {
			padding: 0;
			order: 3;
		}

		&--title {
			color: v.$color-grey;
			font-family: v.$font-pill-gothic;
			margin-bottom: 0;

			@include m.media-breakpoint-up(xl) {
				font-size: 2.5em;
			}
			@include m.media-breakpoint-up(xxl) {
				font-size: 3em;
			}
		}

		&--description {
			margin-bottom: 1rem;
			font-size: 1.35em;
			p {
				font-size: 2.16rem;
			}
		}
	}

	&__buttons {
		& > * {
			@include m.displayFlex(row, $cross: center);
			transition: fn.transition(
				(background-color, border-color, transform, box-shadow, color)
			);
		}

		& button {
			background-color: transparent;
			border: none;
		}

		& > div:hover {
			color: var(--color-primary--light);
		}

		&--location {
			color: var(--bs-secondary);
		}

		&--share {
			color: var(--bs-grey);
		}

		&--add-to-schedule,
		&--calendar {
			color: var(--bs-primary);

			&:hover,
			&:active,
			&:focus {
				color: var(--bs-secondary);
			}
		}

		.alert {
			margin: 0;
		}
	}
}
.cno-event-schedule-confirmation {
	display: block;
	min-width: clamp(28rem, 100%, 40rem);
	min-height: 5rem;
}
