@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.cno-event {
	margin: 0;

	&__time {
		color: white;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		@include m.displayFlex(column, center, stretch);
		@include m.media-breakpoint-down(lg) {
			margin-bottom: 1rem;
			order: 2;
		}

		&--date {
			@include m.displayFlex(column, $cross: center);
		}

		&--month {
			font-size: 2em;
		}

		&--day {
			font-size: 3em;
		}

		&--day-of-week {
			font-size: 1em;
		}

		&--time {
			border-top: 1px solid white;
			margin-top: 1rem;
			padding-top: 1rem;
			@include m.media-breakpoint-down(lg) {
				margin-bottom: 1rem;
			}
		}

		&--friday {
			background-color: v.$color-primary;
		}

		&--saturday {
			background-color: v.$color-secondary;
		}

		&--sunday {
			background-color: v.$color-primary--light;
		}
	}

	&__image {
		@include m.fitMedia(img, $fit: cover);
		aspect-ratio: 16 / 9;
		@include m.media-breakpoint-down(lg) {
			padding: 0;
			order: 1;
		}
	}

	&__info {
		@include m.displayFlex(column);
		@include m.media-breakpoint-down(lg) {
			padding: 0;
			order: 3;
		}

		&--title {
			color: v.$color-grey;
			font-family: v.$font-pill-gothic;
		}

		&--description {
			margin-bottom: 2rem;
		}
	}

	&__buttons {
		margin-top: auto;
		@include m.displayFlex($cross: stretch);
		gap: 2rem;
		position: relative;

		& > * {
			@include m.displayFlex(row, $cross: center);
			cursor: pointer;
			transition: color v.$transition--standard;
		}

		& > div:hover {
			color: v.$color-primary--light;
		}

		&--location {
			color: v.$color-secondary;
		}

		&--share {
			color: v.$color-grey;
		}

		&--add-to-schedule {
			color: v.$color-primary;
		}

		.alert {
			margin: 0;
		}
	}
}
.cno-event-schedule-confirmation {
	display: block;
	min-width: clamp(28rem, 100%, 40rem);
	min-height: 5rem;
}
