@use "../abstracts/mixins" as m;

footer {
	--bs-link-color-rgb: 255, 255, 255;

	.menu-item {
		font-size: 1.35rem;
	}

	:where(.navbar-nav a) {
		text-decoration: none;
	}

	svg {
		color: inherit;
		transition: color var(--transition-standard);
	}
}

.footer-callout {
	&__bg {
		@include m.media-breakpoint-up(lg) {
			top: 20%;
			bottom: 20%;
		}
	}
}
