@use "../abstracts/functions" as fn;
@use "../abstracts/mixins" as m;
@use "bootstrap/scss/vendor/rfs" as rfs;

#site-header {
	background-color: var(--color-primary--dark);
}

.logo-image {
	@include m.fitMedia(svg);
	padding: 1rem;
	height: 15rem;

	h1 {
		display: none;
	}
}

.navbar-nav {
	.nav-item {
		margin-inline: 1rem;

		&.active {
			.nav-link::after {
				transform: scaleX(1);
			}
		}

		&:hover,
		&:focus-within {
			cursor: pointer;

			.nav-link {
				color: var(--bs-secondary);

				&::after {
					transform: scaleX(1);
				}
			}

			.dropdown-toggle {
				color: var(--bs-secondary);
			}

			.dropdown-menu {
				display: block;
				top: 100%;
				left: 0;
			}
		}

		.nav-link {
			@include rfs.font-size(2rem);
			@include m.anchorHoverState($color: white);
			position: relative;
			text-transform: uppercase;
		}
	}

	.btn-group {
		display: flex;
		align-items: center;
		column-gap: 1rem;
		flex-wrap: wrap;

		& > * {
			flex: 0 0 auto;
		}

		.dropdown-toggle {
			box-shadow: none;
			color: white;
		}
	}
}

.dropdown-menu.show {
	flex-basis: 100%;
	flex-grow: 1;
}
