@use '../abstracts/functions' as fn;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use './buttons';

#site-header {
	background-color: v.$color-primary--dark;
}
.logo-image {
	margin: 0;
	svg {
		aspect-ratio: 1;
		height: 15rem;
		// width: auto;
	}
	h1 {
		display: none;
	}
}
.navbar {
	a {
		transition: fn.transition(color);

		text-decoration: none;
		&:not(:has(h1)) {
			text-transform: uppercase;
		}
	}
	&__menu {
		list-style: none;
		padding: unset;
		.menu-item {
			padding: 10px;
			margin: 0 10px;
			display: inline-block;
			border-bottom: 1px solid transparent;
			transition: fn.transition(border-color);
			a {
				color: white;
			}
			&:hover {
				border-color: v.$color-primary;
				cursor: pointer;
			}
			&.cta {
				@extend .btn__fill--primary;
			}
		}
	}
}
.desktop-nav {
	@include m.displayFlex(column, center);
	@include m.media-breakpoint-down(lg) {
		display: none;
	}
}
