@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

#hoursModal {
	.h4 {
		color: var(--color-primary--dark);
	}

	.modal-body {
	}

	.hours-list {
		list-style: none;
		margin: 0;
		padding: 0;

		&__item {
			padding: 1rem;

			@include m.media-breakpoint-up(lg) {
				padding: 2rem;
			}

			&:nth-child(even) {
				background-color: var(--color-tertiary);
			}
		}
	}

	.hours-list-item {
		&__title {
			font-size: 1.35em;
		}
	}
}
