@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.share-event {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__overlay {
		background-color: rgba(v.$color-primary--dark, 0.75);
		inset: 0;
	}
}
