@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.subscribe {
	padding: 3rem 0;
	background-color: v.$color-primary;

	&__headline {
		color: white;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;
	}
}

.cta {
	justify-content: center;
	align-items: stretch;
	margin: 3rem 0;

	&__email {
		@include m.displayFlex($main: flex-end, $cross: stretch);

		flex: 1 0 auto;
		gap: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;

		* {
			box-shadow: none;
			border-width: 0;
			font-family: v.$font-body;
			font-size: 1.35em;
			display: inline-block;
		}

		input {
			flex: 1 1 auto;
			padding-left: 1rem;

			&:focus-visible {
				border: none;
				outline: v.$color-primary--light solid 2px;
			}
		}

		button {
			@include m.media-breakpoint-down(lg) {
				flex: unset;
			}

			background-color: v.$color-primary--light;

			&:hover {
				border-color: v.$color-primary--light;
				background-color: white;
				color: v.$color-primary--light;
			}
		}
	}

	&__text {
		@include m.displayFlex(column, center);

		border-left: 2px solid white;
		margin-left: 5px;
		padding-left: 1.5rem;
		flex-grow: 0;

		@include m.media-breakpoint-down(lg) {
			margin-left: 0;
			padding-left: 0;
			margin-top: 2rem;
			border-left: none;
		}

		a {
			text-align: center;
			font-size: 1.35em;

			@include m.media-breakpoint-down(lg) {
				align-self: center;
				font-size: 1em;
			}

			&:hover {
				color: v.$color-secondary;
				background-color: white;
			}
		}
	}
}
