@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.subscribe {
	padding: 3rem 0;
	background-color: v.$color-primary;

	&__headline {
		color: white;
		text-transform: uppercase;
		font-weight: 400;
	}
}

.cta {
	justify-content: center;
	margin: 3rem 0;

	> div {
		padding-left: 2rem;
		padding-right: 2rem;
		flex: 1 1 50%;

		@include m.media-breakpoint-down(lg) {
			padding: 0;
		}
	}

	&__email {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		border-right: 1px solid white;
		padding-top: 2rem;
		padding-bottom: 2rem;

		* {
			box-shadow: none;
			border-width: 0;
			font-family: v.$font-body;
			font-size: 1.35em;
		}

		input {
			flex: 1 1 70%;

			@include m.media-breakpoint-down(lg) {
				flex: unset;
			}

			&:focus-visible {
				border: none;
				outline: v.$color-primary--light solid 2px;
			}
		}

		button {
			flex: 1 1 10%;

			@include m.media-breakpoint-down(lg) {
				flex: unset;
			}
			background-color: v.$color-primary--light;

			&:hover {
				border-color: v.$color-primary--light;
				background-color: white;
				color: v.$color-primary--light;
			}
		}
	}

	&__text {
		justify-self: flex-end;

		@include m.displayFlex(row, flex-start, center);

		a {
			text-align: center;
			font-size: 1.35em;

			@include m.media-breakpoint-down(lg) {
				font-size: 1em;
			}

			&:hover {
				color: v.$color-secondary;
				background-color: white;
			}
		}
	}
}
