@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

$overlay-opacity: 0.52;

.text-callout {
	position: relative;
	padding: 1rem 0;

	&--primary {
		@extend .text-callout;
		background-color: v.$color-primary--light;
	}

	&--secondary {
		@extend .text-callout;
		background-color: v.$color-secondary;
	}

	&__content {
		position: relative;
		color: white;
		z-index: 4;

		figure {
			align-self: center;
			@include m.fitMedia(svg);
		}

		.text-content {
			@include m.displayFlex(column, $cross: center);
			color: white;
			font-size: 5.6rem;
			@include m.media-breakpoint-down(md) {
				font-size: 3rem;
			}
		}

		.quote {
			font-weight: 500;

			&--attribution {
				font-weight: 400;
				margin-top: 2rem;
				margin-left: auto;
			}
		}
	}
}

.bg {
	background-position: center 60%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: $overlay-opacity;
	mix-blend-mode: multiply;
	@include m.media-breakpoint-down(md) {
		top: -80%;
	}
}

.overlay {
	&--primary {
		@extend .overlay;
		background-color: rgba(v.$color-primary--light, $overlay-opacity);
	}
}
