@use "../abstracts/mixins" as m;

.text-callout {
	figure {
		@include m.fitMedia(svg);
	}
}

.bg {
	background-position: center 60%;
	background-size: cover;
	mix-blend-mode: multiply;
	@include m.media-breakpoint-down(md) {
		top: -80%;
	}
}
