@use "../abstracts/mixins" as m;
%col-styles {
	@include m.displayFlex(column);
}

.two-col {
	@include m.displayFlex(row, center);

	&__media {
		@extend %col-styles;

		&--container {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	&__content {
		@extend %col-styles;
	}
}
