@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

:root {
	--color-primary: #{v.$color-primary};
	--color-primary--dark: #{v.$color-primary--dark};
	--color-primary--light: #{v.$color-primary--light};

	--color-secondary: #{v.$color-secondary};
	--color-tertiary: #{v.$color-tertiary};
	--color-black: #{v.$color-black};
	--color-grey: #{v.$color-grey};
	--color-purple: #{v.$color-purple};
	--color-white: #{v.$color-white};

	--font-headings: #{v.$font-headings};
	--font-body: #{v.$font-body};
	--font-serif: #{v.$font-serif};
	--font-pill-gothic: #{v.$font-pill-gothic};

	--transition-standard: #{v.$transition--standard};
}

::selection {
	color: white;
	background-color: v.$color-primary--dark;
}
section {
	padding: 6.5rem 0;
	position: relative;

	@include m.media-breakpoint-down(md) {
		padding: 3.5rem 0;
	}
}

.row {
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	height: auto;
}

.col {
	@include m.displayFlex(column);
	position: relative;
	height: auto;
}

.bg-color-primary {
	background-color: v.$color-primary;
	color: white;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}

.fadeIn {
	transition: fn.transition((opacity, transform), (1s ease));
	opacity: 1;
	transform: translateY(0);

	&--hide {
		opacity: 0;
		transform: translateY(4rem);
	}
}

@media (print), (prefers-reduced-motion: reduce) {
	.fadeIn--hide {
		transform: none;
	}
}
