%body-text {
	font-family: var(--font-body);
	color: var(--color-black);
	font-size: 2.16rem;
}

p {
	@extend %body-text;
}

.subheadline {
	@extend %body-text;
	font-weight: 400;
}

.text-content {
	@extend %body-text;
}

li {
	@extend %body-text;
}

.small,
small {
	font-family: var(--font-body);
}
