@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;
@use "../../abstracts/functions" as fn;

.cno-search {
	font-size: 1.6rem;

	.event-meta {
		@include m.media-breakpoint-down(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: flex-start;
			align-items: stretch;
		}
	}

	:where(&) > .container:not(.load-more-container) {
		min-height: 20rem;
	}
}

.cno-event-search {
	height: fit-content;
	font-size: 1.6rem;

	&__search-bar {
		width: auto;
		border: 2px solid black;
		margin-bottom: 2rem;
	}

	.archive .cno-events-wrapper &__filters {
		font-size: 1.6rem;
		&--header {
			> button {
				width: fit-content;
				font-size: 1.8rem;
			}
		}

		.dropdown-toggle {
			width: fit-content;
			font-size: 1.8rem;
			text-transform: capitalize;
			&.show {
				background-color: v.$color-secondary;
				color: white;
			}
		}

		.dropdown-menu.show {
			@include m.displayFlex(column, $cross: stretch);
			// width: 100%;
		}

		[role="button"] {
			display: block;
			font-size: 2.1rem;
			padding: 1rem;
			transition: fn.transition((background-color, color));

			&:hover {
				background-color: v.$color-secondary;
				color: white;
			}
		}
	}
}

.cno-event-search-filters {
	&__filter-container {
		width: fit-content;

		.dropdown {
			width: fit-content;
		}

		.dropdown-menu {
			width: fit-content;
		}
	}
}
