@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;
@use "../../abstracts/functions" as fn;

.cno-search {
	.event-meta {
		@include m.media-breakpoint-down(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			justify-items: flex-start;
			align-items: stretch;
		}
	}

	:where(&) > .container:not(.load-more-container) {
		min-height: 20rem;
	}
}

.cno-event-search {
	.archive .cno-events-wrapper &__filters {
		.dropdown-menu.show {
			@include m.displayFlex(column, $cross: stretch);
		}

		[role="button"] {
			display: block;
			padding: 1rem;
			transition: fn.transition((background-color, color));

			&:hover {
				background-color: v.$color-secondary;
				color: white;
			}
		}
	}
}
