@use "../abstracts/mixins" as m;
@use "../components/text-callout";
.gallery {
	&__item {
		@include m.fitMedia($fit: cover);

		&--image {
			aspect-ratio: 16 / 9;
		}
	}
	.row {
		align-items: flex-start;
	}
}
:where(.history) {
	.headline:not(h1) {
		text-transform: capitalize;
	}
}
