@use "../abstracts/mixins" as m;

.registrations {
	padding: 0;
}
.registration-form-list {
	list-style: none;
	padding: 0;

	&__item {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.registration-form {
	font-size: 1.6rem;
	@include m.displayFlex(row, center, stretch);

	&__content--headline {
		text-transform: capitalize;
	}

	.two-col {
		&__media {
			&--container {
				max-height: 30rem;
			}
		}
		&__content {
			@include m.displayFlex(column);
			&--subheadline {
				margin-bottom: 2rem;
			}
		}
	}

	&__button {
		margin-top: auto;
		text-align: center;
		width: 30rem;
		padding: 1rem 0;
	}
}
