@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../components/slider";

.hero {
	min-height: 37.5rem;

	.bg-opacity-50 {
		mix-blend-mode: multiply;
	}
}

.countdown {
	&__container {
		grid-template-columns: repeat(auto-fit, 15rem);
	}

	&__days {
		animation-delay: 1.2s;
	}

	&__hours {
		animation-delay: 1.4s;
	}

	&__minutes {
		animation-delay: 1.6s;

		@include m.media-breakpoint-only(sm) {
			grid-row: 2 / 3;
		}

		@media screen and (width >= 466px) and (width <= 576px) {
			grid-row: 2 / 3;
		}
	}

	&__seconds {
		animation-delay: 1.8s;

		@include m.media-breakpoint-only(sm) {
			grid-row: 2 / 3;
		}

		@media screen and (width >= 466px) and (width <= 576px) {
			grid-row: 2 / 3;
		}
	}
}

.great-seal {
	width: 88%;

	@include m.fitMedia(svg);

	@include m.media-breakpoint-down(lg) {
		width: 50%;
	}
}
