@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../components/slider";
@use "../components/subscribe";
@use "../components//text-callout";

.countdown {
	color: white;
	border-top: 5px solid white;
	width: 100%;
	text-align: center;

	a {
		margin-top: 2rem;
		font-size: 1.2em;

		@include m.media-breakpoint-down(lg) {
			font-size: 1em;
		}
	}

	.label {
		font-size: 3rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__container {
		font-size: 3.5em;
		display: grid;
		grid-template-columns: repeat(auto-fit, 15rem);
		justify-content: space-evenly;
		@include m.media-breakpoint-down(lg) {
			font-size: 2em;
		}
	}

	&__days {
		@include m.displayFlex(column, flex-start, center);
		animation-delay: 1.2s;
	}

	&__hours {
		@extend .countdown__days;
		animation-delay: 1.4s;
	}

	&__minutes {
		@extend .countdown__days;
		animation-delay: 1.6s;
		@include m.media-breakpoint-only(sm) {
			grid-row: 2 / 3;
		}
		@media screen and (min-width: 466px) and (max-width: 576px) {
			grid-row: 2 / 3;
		}
	}

	&__seconds {
		@extend .countdown__days;
		animation-delay: 1.8s;
		@include m.media-breakpoint-only(sm) {
			grid-row: 2 / 3;
		}
		@media screen and (min-width: 466px) and (max-width: 576px) {
			grid-row: 2 / 3;
		}
	}
}
#about-the-festival {
	.col-lg-4 {
		@include m.displayFlex(column, $cross: center);
	}

	.col-lg-8 {
		@include m.displayFlex(column, $cross: center);
	}
}
.great-seal {
	width: 88%;
	@include m.fitMedia(svg);
	@include m.media-breakpoint-down(lg) {
		width: 50%;
		margin-bottom: 2rem;
	}
}

#entertainment {
	.container {
		display: flex;
		flex-direction: column;
	}

	.row:nth-child(3) {
		margin-top: 4rem;

		.col {
			align-items: center;
		}
	}
	.featured-event {
		&__headline {
			color: v.$color-primary--dark;
		}
		&__title {
			color: v.$color-grey;
		}
	}
}

#vendors {
	@extend #entertainment;

	a.btn__fill--primary {
		background-color: v.$color-primary--dark;
	}
}

.big-feature {
	height: fit-content;

	&__image {
		width: 100%;
		max-height: 80rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__excerpt {
		font-size: 1.35em;
		margin-bottom: 4rem;
	}
}
