@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../components/checkboxes" as c;
@use "../components/map/map-svg-style";

$size: 100%;

.map-figure {
	position: relative;
	height: 120vw;

	@include m.media-breakpoint-up(sm) {
		height: 70rem;
	}
	@include m.media-breakpoint-up(md) {
		height: 90rem;
	}
	@include m.media-breakpoint-up(lg) {
		height: 120rem;
	}
	@include m.media-breakpoint-up(xl) {
		height: 150rem;
	}
	@include m.media-breakpoint-up(xxl) {
		height: 170rem;
	}

	img {
		object-fit: contain;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: auto;
	}

	svg {
		width: $size;
		z-index: 4;
		position: absolute;
	}

	#Street_Labels {
		z-index: 5;
	}
}

.legend {
	background-color: v.$color-tertiary;

	.headline {
		margin-top: 1rem;
	}
}

%container-spacing {
	margin-bottom: 3rem;
}
.map-toggles {
	&__container {
		padding: 1rem;
		&--icons {
			@extend %container-spacing;
		}
	}

	&__areas {
		@extend %container-spacing;
	}
	&__layer-toggle {
		cursor: pointer;
		@include m.displayFlex($cross: center);
		@include c.checkboxColor(
			$background-color: v.$color-primary,
			$color: white
		);
	}

	&__area-toggles {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}
