@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../components/checkboxes" as c;
@use "../components/map/map-svg-style";

$size: 100%;

.map-figure {
	position: relative;
	height: 90vw;

	@include m.media-breakpoint-up(sm) {
		height: 51.2rem;
	}
	@include m.media-breakpoint-up(md) {
		height: 69rem;
	}
	@include m.media-breakpoint-up(lg) {
		height: 92rem;
	}
	@include m.media-breakpoint-up(xl) {
		height: 110rem;
	}
	@include m.media-breakpoint-up(xxl) {
		height: 128rem;
	}

	img {
		object-fit: contain;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: auto;
	}
	#rv {
		z-index: 4;
	}

	svg {
		width: $size;
		position: absolute;
		z-index: 2;
	}
}

.map {
	&__base {
		z-index: 1;

		&--buildings {
			z-index: 2;
		}
	}

	&__building {
		z-index: 2;
	}
}

.legend {
	background-color: v.$color-tertiary;

	.headline {
		margin-top: 1rem;
	}
}

%container-spacing {
	margin-bottom: 3rem;
}
.map-toggles {
	&__container {
		padding: 1rem;

		&--areas {
			@extend %container-spacing;
		}
	}

	&__buildings {
		@extend %container-spacing;
	}

	&__layer-toggle {
		cursor: pointer;
		@include m.displayFlex($cross: center);
		@include c.checkboxColor(
			$background-color: v.$color-primary,
			$color: white
		);
	}

	&__area-toggles {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(2, 1fr);

		@include m.media-breakpoint-up(md) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include m.media-breakpoint-up(lg) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
