@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
.map-container {
}
.map {
	position: relative;
	$size: 100%;

	svg {
		width: $size;
	}
}

.legend {
	background-color: v.$color-tertiary;

	.headline {
		margin-top: 1rem;
	}
}

%container-spacing {
	margin-bottom: 3rem;
}
.map-toggles {
	&__container {
		padding: 1rem;
		&--icons {
			@extend %container-spacing;
		}
	}

	&__areas {
		@extend %container-spacing;
	}
	&__layer-toggle {
		cursor: pointer;

		input {
			cursor: pointer;
		}
	}

	&__area-toggles {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}
