@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
:where(.page-id-49) {
	#app {
		padding: 4rem 0;
		min-height: 30vh;
	}
}
.event {
	&__time {
		background-color: v.$color-primary;
		color: white;
		padding: 10px;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		&--date {
			@include m.displayFlex(column, flex-start, stretch);
		}
		&--month {
			font-size: 20px;
		}
		&--day {
			font-size: 50px;
		}
		&--day-of-week {
			font-size: 15px;
		}
		&--time {
			border-top: 1px solid white;
			margin-top: 10px;
			padding-top: 10px;
		}
	}
	&__image {
		@include m.displayFlex(column, center, center);
		background-color: lightgray;
		aspect-ratio: 16 / 9;
		.fa-image {
			display: block;
		}
	}
	&__info {
		@include m.displayFlex(column, flex-start, stretch);
	}
	&__meta {
		@include m.displayFlex;
	}
}
