@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
%day-container {
	@include m.displayFlex(column);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 3rem;
}
%meta-display {
	@include m.displayFlex(column, space-evenly, center);
	padding: 1rem;
}
.my-schedule {
	max-width: 80rem;
	margin: 3rem auto;
	@include m.displayFlex(column, space-evenly, center);
	&__day-label {
		margin-top: 3rem;
	}
	&__event {
		background-color: v.$color-tertiary;
		margin: 2rem auto 0 auto;
		width: 88%;
		border: 2px solid v.$color-primary--dark;
		border-radius: 1rem;
		padding: 2rem;
		display: grid;
		gap: 5px;
		grid-template-columns: 1fr 2fr;
	}
	&__event-meta {
		@include m.displayFlex(column, center, stretch);
		grid-row: 1 / 3;
		font-size: 1em;
		@include m.media-breakpoint-down(md) {
			@include m.displayFlex(row, space-evenly, center);
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}
		&--label {
			font-size: 1.4em;
		}
		&--info {
			font-size: 1.6em;
			font-weight: 700;
		}
		&--start {
			@extend %meta-display;
		}
		&--end {
			@extend %meta-display;
			margin-top: 3rem;
			@include m.media-breakpoint-down(md) {
				margin-top: 0;
			}
		}
	}
	&__event-details {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		border-left: 2px dashed grey;
		padding: 2rem;
		@include m.media-breakpoint-down(md) {
			grid-row: 3 / 4;
			grid-column: 1 / 3;
			border-left: unset;
			border-top: 2px dashed grey;
		}
		&--description {
			margin-bottom: 2rem;
		}
		a {
			margin-top: auto;
		}
	}
	&__remove-event {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		z-index: 2;
		margin-left: auto;
		border-color: v.$color-secondary;
		background-color: white;
		color: v.$color-secondary;
	}
}
