@use '../abstracts/mixins' as m;

.registration-form-list {
	list-style: none;
	&__item {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.registration-form {
	font-size: 1.6rem;
	@include m.displayFlex(row, center, stretch);
	> * {
		padding: 2rem;
	}
	.two-col {
		&__media {
			img {
				$size: 100%;
				height: $size;
				width: $size;
			}
		}
		&__content {
			@include m.displayFlex(column);
			&--subheadline {
				margin-bottom: 2rem;
			}
		}
	}
	&__button {
		margin-top: auto;
	}
}
