@use "../abstracts/mixins" as m;

:is(.post-type-archive-events) .hero {
	min-height: unset;
	height: unset;
}

.archive {
	position: relative;

	.cno-event {
		&__image {
			@include m.media-breakpoint-only(lg) {
				margin-bottom: 1rem;
			}

			img {
				aspect-ratio: 16 / 9;
				height: auto;
			}
		}
	}
}
